*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family: Inter, Arial, Helvetica, sans-serif;
    background: #111827;
    color: #ffff
}